img{
    display: inline-block;
    text-align: center
}
div.card{
    text-align: center;
    margin: auto;
    width: 50%;
    margin-top: 2%;
}
#links-list{
    width: 100%;
    list-style-type: none;
    margin-top: 2%;
    padding: 0;
    text-align: center;
}
.links{
    width: 5%;
    display: inline-block;
}
#about-title{
    text-align: center; 
    margin: auto; 
    margin-top: 10%;
    color: #311B92;
    padding: 0;
}
#sendme-container{
    text-align: center;
    width: 70%;
    padding: 1%
}
li {
    list-style-type: none
}