<p style="text-align: center">Section under construction ;)</p>

<div id="sendme-container" class="card">
  <button class="btn btn-danger waves-light btn-sm">Send me an email using gmail</button>
  <button class="btn btn-primary waves-light btn-sm">Contact me using Linkedin</button>
  <button class="btn btn-blue-grey btn-sm">Send me your email to contact</button>
</div>
<ul id="links-list">
  <li class="links">
    <a href="">
        <img src="../../assets/ic_gmail.svg" alt="Correo Gmail">
      </a>
  </li>
  <li class="links">
    <a href="">
        <img src="../../assets/ic_linkedin.svg" alt="Linkedin">
      </a>
  </li>
  <li class="links">
    <a href="https://www.github.com/JustinCast">
      <img src="../../assets/ic_github.svg" alt="Github">
    </a>
  </li>
</ul>