ul{
    display: inline-block;
    width: 85%
}
li{
    display: inline-block;
    width: 100%;
    cursor: pointer
}
#private-repos{
    text-align: center;
    color: #311B92;
    font-size: 25px
}
#contact-me{
    margin: auto
}