#projects-ul{
    width: 90%;
    text-align: center;
    margin: auto;
    padding: 0
}
.project-li{
    list-style-type: none;
    margin-left: 0;
    width: 100%;
    cursor: pointer;
    text-align: center;
    margin-top: 1%;
}
#private-repos{
    text-align: center;
    color: #311B92;
    font-size: 25px
}
#contact-me{
    margin: auto
}