ul{
    width: 90%;
    margin: auto
}
#project-li{
    width: 90%;
    cursor: pointer;
    margin: auto;
    text-align: center;
    margin-top: 1%
}
#private-repos{
    text-align: center;
    color: #311B92;
    font-size: 25px
}
#contact-me{
    margin: auto
}