#principal-information-card{
    width: 70%;
    margin: auto;
    margin-top: 1.5%;
    border-radius: 10px;
}
#card-body{
    text-align: center
}
img{
    width: 50%;
    height: 50%;    
    margin: auto;
    border-radius: 10px
}
// #go-projects{
    
// }
footer{
    font-size: 12px;
}
a{
    margin: auto
}
.left-container-data{
    width: 15%; 
    float: left;
    text-align: center;
    margin-top: 2%
}
.right-container-data{
    width: 15%;
    float: left;
    text-align: center;
    margin-top: 2%;
}