#principal-information-card{
    width: 40%;
    margin: auto;
    margin-top: 3%;
    border-radius: 10px;
}
#card-body{
    text-align: center
}
img{
    width: 50%;
    height: 50%;
    margin: auto;
    border-radius: 10px
}