<div id="principal-information-card" class="card">
  
      <!--Card image-->
      <img class="img-fluid" src="../../assets/edited.png" alt="Card image cap"> 

      <!--Card content-->
      <div id="card-body" class="card-body">
          <!--Title-->
          <h4 class="card-title">Justin Alberto Castillo V.</h4>
          <!--Text-->
          <p class="card-text">
            Web & Mobile Developer at Comunidad de Móviles TEC SC
          <br> Computer Engineering Student
          </p>

          <button class="btn btn-primary btn-sm" [routerLink]="['/projects']">Go to My Projects</button>
      </div>
  
  </div>