@import url('https://fonts.googleapis.com/css?family=Raleway');
#portfolio-card{
    width: 80%;
    margin: auto;
    margin-top: 2%;
    font-family: 'Raleway', serif;
}
#portfolio-title{
    text-align: center;
    margin-top: 2%
}
.positioning-paragraphs{
    margin-left: 2%
}
#btn-extra-courses{
    background-color: #311B92;
}
.extra-courses-paragraph{
    font-size: 11px
}
span{
    margin-left: 1%
}
#hire-me-btn{
    background-color: #00C853
}
#reviews-container{
    width: 100%
}