.gists-li{
    list-style-type: none;
    width: 100%;
    cursor: pointer;
    text-align: center;
    margin-top: 1%
}
#gists-ul{
    width: 70%;
    text-align: center;
    margin: auto;
    padding: 0
}
#footer-ul{
    text-align: center;
    margin: auto;
    padding: 0
}
li{
    display: inline-block
}
#view-gist-btn{
    background-color: black
}
h6{
    font-weight: bold;
    color: #311B92;
}